@page "/"

@using Microsoft.AspNetCore.Components.Authorization
<PageTitle>Index</PageTitle>

<AuthorizeView Roles="Admin">
    <Authorized>
        <p>Estas autenticado y autorizado, @context.User.Identity?.Name</p>
    </Authorized>
    <NotAuthorized>
        <p>No estas autorizado</p>
    </NotAuthorized>
</AuthorizeView>



<h1>Organización de Eventos</h1>

Inicia la planeación de un nuevo evento!
