@page "/services/edit/{Id:int}"
@using OrganizacionEventos.Shared.Entities;
@inject NavigationManager navigationManager
@inject IRepository repository
@inject SweetAlertService swal

<h3>Editar Contrato</h3>

@if (Service is null)
{
    <p>Cargando...</p>
}
else
{
    <ServiceForm @ref="ServiceForm" Service="Service" OnSubmit="Edit" ReturnAction="Return" />
}

@code {
    private Service? Service;
    private ServiceForm? ServiceForm;

    [Parameter]
    public int Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var responseHTTP = await repository.Get<Service>($"api/services/{Id}");

        if (responseHTTP.Error)
        {
            if (responseHTTP.HttpResponseMessage.StatusCode == System.Net.HttpStatusCode.NotFound)
            {
                navigationManager.NavigateTo("Services");
            }
            else
            {
                var messageError = await responseHTTP.GetErrorMessageAsync();
                await swal.FireAsync("Error", messageError, SweetAlertIcon.Error);
            }
        }
        else
        {
            Service = responseHTTP.Response;
        }
    }

    private async Task Edit()
    {
        var responseHTTP = await repository.Put("api/services", Service);

        if (responseHTTP.Error)
        {
            var mensajeError = await responseHTTP.GetErrorMessageAsync();
            await swal.FireAsync("Error", mensajeError, SweetAlertIcon.Error);
        }
        else
        {
            ServiceForm!.FormPostedSuccessfully = true;
            navigationManager.NavigateTo("Services");
        }
    }

    private void Return()
    {
        navigationManager.NavigateTo("Services");
    }
}
