@page "/events"
@using OrganizacionEventos.Shared.Entities;
@using OrganizacionEventos.WEB.Repositories;

@inject IRepository repository

<h3>Eventos</h3>

<div class="mb-3">
    <a class="btn btn-primary" href="/events/create">Nuevo Evento</a>
</div>

<GenericList MyList="Events">

    <Body>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Evento</th>
                    <th></th>

                </tr>
            </thead>
            <tbody>
                @foreach (var @event in Events!)
                {
                    <tr>
                        <td>
                            @@event.Name
                        </td>
                        <td>
                            <a class="btn btn-warning">Editar</a>
                            <button class="btn btn-danger">Borrar</button>
                        </td>

                    </tr>
                }
            </tbody>
        </table>

    </Body>

</GenericList>

@code {
    public List<Event>? Events { get; set; }

    protected async override Task OnInitializedAsync()
    {
        var responseHppt = await repository.Get<List<Event>>("/api/events");
        Events = responseHppt.Response!;
    }
}




