@page "/events"
@using OrganizacionEventos.Shared.Entities;
@using OrganizacionEventos.WEB.Repositories;

@inject IRepository repository
@inject NavigationManager navigationManager
@inject SweetAlertService swal


<h3>Eventos</h3>

<div class="mb-3">
    <a class="btn btn-primary" href="/events/create">Nuevo Evento</a>
</div>

<GenericList MyList="Events">

    <Body>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Evento</th>
                    <th></th>

                </tr>
            </thead>
            <tbody>
                @foreach (var event_ in Events!)
                {
                    <tr>
                        <td>
                            @event_.Name @event_.Description
                        </td>
                        <td>
                            <a href="/events/edit/@event_.Id" class="btn btn-warning">Editar</a>
                            <button class="btn btn-danger" @onclick=@(() => Delete(event_))>Borrar</button>

                        </td>

                    </tr>
                }
            </tbody>
        </table>

    </Body>

</GenericList>

@code {
    public List<Event>? Events { get; set; }

    protected async override Task OnInitializedAsync()
    {
        var responseHppt = await repository.Get<List<Event>>("/api/events");
        Events = responseHppt.Response!;
        await Load();
    }
    
    private async Task Load()
    {
        var responseHppt = await repository.Get<List<Event>>("api/events");
        Events = responseHppt.Response!;
    }

    private async Task Delete(Event event_)
    {
        var result = await swal.FireAsync(new SweetAlertOptions
            {
                Title = "Confirmación",
                Text = "¿Esta seguro que quieres borrar el registro?",
                Icon = SweetAlertIcon.Question,
                ShowCancelButton = true
            });

        var confirm = string.IsNullOrEmpty(result.Value);

        if (confirm)
        {
            return;
        }

        var responseHTTP = await repository.Delete($"api/events/{event_.Id}");

        if (responseHTTP.Error)
        {
            if (responseHTTP.HttpResponseMessage.StatusCode == System.Net.HttpStatusCode.NotFound)
            {
                navigationManager.NavigateTo("/");
            }
            else
            {
                var mensajeError = await responseHTTP.GetErrorMessageAsync();
                await swal.FireAsync("Error", mensajeError, SweetAlertIcon.Error);
            }
        }
        else
        {
            await Load();
        }
    }

}




