@page "/employeeevents"
@using OrganizacionEventos.Shared.Entities;
@using OrganizacionEventos.WEB.Repositories;

@inject IRepository repository
@inject NavigationManager navigationManager
@inject SweetAlertService swal


<h3>Contratos</h3>

<div class="mb-3">
    <a class="btn btn-primary" href="/employeeevents/create">Nuevo Cliente</a>
</div>

<GenericList MyList="EmployeeEvents">

    <Body>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Contrato</th>
                    <th></th>

                </tr>
            </thead>
            <tbody>
                @foreach (var EmployeeEvent in EmployeeEvents!)
                {
                    <tr>
                        <td>
                            @EmployeeEvent.Id
                        </td>
                        <td>
                            <a href="/employeeevents/edit/@EmployeeEvent.Id" class="btn btn-warning">Editar</a>
                            <button class="btn btn-danger" @onclick=@(() => Delete(EmployeeEvent))>Borrar</button>

                        </td>

                    </tr>
                }
            </tbody>
        </table>

    </Body>

</GenericList>

@code {
    public List<EmployeeEvent>? EmployeeEvents { get; set; }

    protected async override Task OnInitializedAsync()
    {
        var responseHppt = await repository.Get<List<EmployeeEvent>>("/api/employeeevents");
        EmployeeEvents = responseHppt.Response!;
        await Load();
    }

    private async Task Load()
    {
        var responseHppt = await repository.Get<List<EmployeeEvent>>("api/employeeevents");
        EmployeeEvents = responseHppt.Response!;
    }

    private async Task Delete(EmployeeEvent EmployeeEvent)
    {
        var result = await swal.FireAsync(new SweetAlertOptions
            {
                Title = "Confirmación",
                Text = "¿Esta seguro que quieres borrar el registro?",
                Icon = SweetAlertIcon.Question,
                ShowCancelButton = true
            });

        var confirm = string.IsNullOrEmpty(result.Value);

        if (confirm)
        {
            return;
        }

        var responseHTTP = await repository.Delete($"api/employeeevents/{EmployeeEvent.Id}");

        if (responseHTTP.Error)
        {
            if (responseHTTP.HttpResponseMessage.StatusCode == System.Net.HttpStatusCode.NotFound)
            {
                navigationManager.NavigateTo("/");
            }
            else
            {
                var mensajeError = await responseHTTP.GetErrorMessageAsync();
                await swal.FireAsync("Error", mensajeError, SweetAlertIcon.Error);
            }
        }
        else
        {
            await Load();
        }
    }

}
