@page "/servicesEvents/edit/{Id:int}"
@using OrganizacionEventos.Shared.Entities;
@inject NavigationManager navigationManager
@inject IRepository repository
@inject SweetAlertService swal

<h3>Editar Contrato</h3>

@if (ServicesEvent is null)
{
    <p>Cargando...</p>
}
else
{
    <ServicesEventForm @ref="ServicesEventForm" ServicesEvent="ServicesEvent" OnSubmit="Edit" ReturnAction="Return" />
}

@code {
    private ServicesEvent? ServicesEvent;
    private ServicesEventForm? ServicesEventForm;

    [Parameter]
    public int Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var responseHTTP = await repository.Get<ServicesEvent>($"api/servicesEvents/{Id}");

        if (responseHTTP.Error)
        {
            if (responseHTTP.HttpResponseMessage.StatusCode == System.Net.HttpStatusCode.NotFound)
            {
                navigationManager.NavigateTo("ServicesEvents");
            }
            else
            {
                var messageError = await responseHTTP.GetErrorMessageAsync();
                await swal.FireAsync("Error", messageError, SweetAlertIcon.Error);
            }
        }
        else
        {
            ServicesEvent = responseHTTP.Response;
        }
    }

    private async Task Edit()
    {
        var responseHTTP = await repository.Put("api/servicesEvents", ServicesEvent);

        if (responseHTTP.Error)
        {
            var mensajeError = await responseHTTP.GetErrorMessageAsync();
            await swal.FireAsync("Error", mensajeError, SweetAlertIcon.Error);
        }
        else
        {
            ServicesEventForm!.FormPostedSuccessfully = true;
            navigationManager.NavigateTo("ServicesEvents");
        }
    }

    private void Return()
    {
        navigationManager.NavigateTo("ServicesEvents");
    }
}
