@page "/customers"
@using OrganizacionEventos.Shared.Entities;

@inject IRepository repository

<h3>Clientes</h3>

<div class="mb-3">
    <a class="btn btn-primary" href="/customers/create">Nuevo Cliente</a>
</div>

<GenericList MyList="Customers">

    <Body>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Cliente</th>
                    <th></th>

                </tr>
            </thead>
            <tbody>
                @foreach (var customer in Customers!)
                {
                    <tr>
                        <td>
                            @customer.Name
                        </td>
                        <td>
                            <a class="btn btn-warning">Editar</a>
                            <button class="btn btn-danger">Borrar</button>
                        </td>

                    </tr>
                }
            </tbody>
        </table>

    </Body>

</GenericList>

@code {
    public List<Customer>? Customers { get; set; }

    protected async override Task OnInitializedAsync()
    {
        var responseHppt = await repository.Get<List<Customer>>("/api/customers");
        Customers = responseHppt.Response!;
    }
}

