@page "/employeeevents"
@using OrganizacionEventos.Shared.Entities;

@inject IRepository repository

<h3>Empleados en Eventos</h3>

<div class="mb-3">
    <a class="btn btn-primary" href="/employeeevents/create">Asignar Nuevo Empleado a Evento</a>
</div>

<GenericList MyList="EmployeeEvents">

    <Body>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Empleados en Eventos</th>
                    <th></th>

                </tr>
            </thead>
            <tbody>
                @foreach (var employeeevent in EmployeeEvents!)
                {
                    <tr>
                        <td>
                            Enmpleado @employeeevent.Employee Evento @employeeevent.EventId
                        </td>
                        <td>
                            <a class="btn btn-warning">Editar</a>
                            <button class="btn btn-danger">Borrar</button>
                        </td>

                    </tr>
                }
            </tbody>
        </table>

    </Body>

</GenericList>

@code {
    public List<EmployeeEvent>? EmployeeEvents { get; set; }

    protected async override Task OnInitializedAsync()
    {
        var responseHppt = await repository.Get<List<EmployeeEvent>>("/api/employeeevents");
        EmployeeEvents = responseHppt.Response!;
    }
}

