@page "/services"
@using OrganizacionEventos.Shared.Entities;

@inject IRepository repository

<h3>Servicios</h3>

<div class="mb-3">
    <a class="btn btn-primary" href="/services/create">Nuevo Servicio</a>
</div>

<GenericList MyList="Services">

    <Body>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Servicio</th>
                    <th></th>

                </tr>
            </thead>
            <tbody>
                @foreach (var service in Services!)
                {
                    <tr>
                        <td>
                            @service.Name
                        </td>
                        <td>
                            <a class="btn btn-warning">Editar</a>
                            <button class="btn btn-danger">Borrar</button>
                        </td>

                    </tr>
                }
            </tbody>
        </table>

    </Body>

</GenericList>

@code {
    public List<Service>? Services { get; set; }

    protected async override Task OnInitializedAsync()
    {
        var responseHppt = await repository.Get<List<Service>>("/api/services");
        Services = responseHppt.Response!;
    }
}


